.page{
    min-width: 1100px;
    max-width: 1600px;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    margin: 0 auto;
}
.header{
    height: 100vh;
    display: flex; 
    position: relative;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    margin-bottom: 100px;
    padding: 0;
}
.logo{
    position: absolute;
    top: 30px;
    left: 64px;
}
.logo_place_header{
    width: 183px;
    height: 32px;
    z-index: 2;
}
.header__title{
    align-items: center;
    position: relative;
    margin: auto 0 auto 64px;
    width: 730px;
    z-index: 3;
    padding: 0;
    font-size: 102px;
    line-height: 96px;
    font-weight: bold;
    color: #000000;
}
.header__link{
    color: #2f80ed;
}

.header__subtitle{
    position: absolute;
    left: 64px;
    width: 388px;
    bottom: 30px;
    z-index: 2; 
    margin: 0;
    padding: 0;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    color: #000000;
}
.header__main-illustration{
    width: 765px;
    height: 608px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    z-index: 2;
}
.header__square-pic{
    position: absolute;
    top: 64px;
    right: 0;
    width: 568px;
    height: 568px;
    background-color: #2f80ed;
    padding: 0;
    z-index: 1;

}
.content{
    min-width: 1100px;
    max-width: 1600px;
    margin: auto;
}
.description{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

}
.two-columns{
    display:flex;
    justify-content: space-between;
    width: 80%;
    min-height: min-content;
}
.two-columns__brief{
    color: #2f80ed;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    width: 175px;
    margin: 0;
}
.two-colums__main-text{
    width: 80%;
    min-width: 784px;
}
.two-colums__paragraph{
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}
.two-colums__paragraph:last-of-type{
    margin-bottom: 0;
}
.two-colums__span-accent{
    line-height: 34px;
    font-size: 24px;
    font-weight: bold;
}
.digits{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.section-title{
    width: 60%;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin: 0px;
}
.section-subtitle{
    width: 60%;
    margin-top: 20;
    margin-bottom: 0;
    text-align: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}
.table{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1100px;
    margin: 0 auto 0;
}
.table__cell{
    width: 250px;
    margin-top: 60px;
}
.table__heading{
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}
.table__text{
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin: 20px 0 0;
}
.feynman{
    display:flex;
    align-items: center;
    flex-direction: column;
    height: 890px;
    background-color: #f2f2f2;
    background-image: url(/Users/Anna/Desktop/dev/how-to-learn/images/feynman.png);
    background-repeat: no-repeat;
    background-size: 867px 637px;
    background-position: left 0 bottom 0;
    position: relative;
}
.feynman__title{
    width: 648px;
    margin: 100px auto 0;
    text-align: center;
    line-height: 1.15;;
    font-size: 120px;
    font-weight: bold;
}
.feynman__subtitle{    
    text-align: center;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    margin: 70px auto 0

}
.feynman__link{
    position:absolute;
    right: 48px;
    top: 50%;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    z-index: 2;

}
.footer{
    margin: 0;
    padding: 0;
}